{% extends 'base.html' %}

{% block content %}
<div id="content">
    <article class="container-fluid">
      <section class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/282x282/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Gauge 1</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Accuracy
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
              </ul>
              <hr/>
              <a href="./camera/123" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </section>
    </article>
</div>
</div>
{% endblock %}
