{% extends 'base.html' %}

{% block content %}
<div id="content">
    <article class="container-fluid">
      <section class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <img class="card-img-top" src="https://placehold.it/282x282/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Device ID</h5>
              <p class="d-flex justify-content-between align-items-center">
                Prediction
                <span class="badge badge-primary badge-pill">14</span>
              </p>
              <small>Updated: Tuesday, November 30, 23:37</small>
              <hr/>
              <a href="./device/123" class="btn btn-primary">View Device</a>
            </div>
          </div>
        </div>
      </section>
    </article>
</div>
</div>
{% endblock %}
