{% extends 'base.html' %}
{% block content %}
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="{{ url_for('root') }}">
        <i class="fas fa-chevron-left"></i>
        Back to Dashboard
      </a>
    </div>
  </nav>
  <article class="container-fluid">
    <section class="row">
      <div class="col-12">
        <h2>Device {{device.id}} Setting</h2>
      </div>
    </section>
    <section class="row">
      <div class="col-6">
        <form>
          <div class="form-group">
            <label for="url">URL</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="" aria-label="URL" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-qrcode"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="url">Device Type</label>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
            <label for="url">Frame Rate</label>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group">
          <label for="url">Refresh Rate</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Notes</label>
          <textarea class="form-control" id="" rows="3">{{device.notes}}</textarea>
        </div>
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default ml-4">Delete</button>
      </form>
      </div>
      <div class="col-4">
        <form>
          <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
          </div>
          <div class="form-group">
              <img class="img-fluid" src="{{device.img}}" alt="Card image cap">
          </div>
          <div class="form-group">
            <label for="threshold">Thresholds</label>
            {% for item in device.thresholds %}
            <p>
              <span>Low: {{item.low}}</span>
              <span class="float-right">
                <button type="button" class="btn btn-sm btn-link">Edit</button>
                |
                <button type="button" class="btn btn-sm btn-link">Delete</button>
              </span>
            </p>
            {% endfor %}
          </div>
          <button class="btn btn-sm btn-primary">Add New</button>
        </form>
      </div>
    </section>
  </article>
</div>
{% endblock %}
