scikit-learn == 0.19.2
scipy == 1.1.0
keras == 2.2.2
pillow == 5.2.0
pandas == 0.23.4
MultiColProcessor == 1.0.15
tensorflow == 2.5.3
matplotlib == 2.2.3
opencv-python == 3.4.2.17
np-utils == 0.5.5.2
download == 0.3.3





